* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form_background {
  font-family: Montserrat;
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form_secondaryNavbar {
  padding: 25px 0;
  width: 1201px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.form_filter {
  width: 170px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_filter span {
  margin-right: auto;
}
.form_filter img {
  margin-right: auto;
}
